<section>
  <div class="bl-box">
    <h2>My Blog</h2>
  </div>
  <div class="bl-content">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <%= current_user.name %>
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to image_tag("sign_in_twitter.png", alt:'twitter', id:"twitter"), omniauth_authorize_path(resource_name, provider) %>
          <% end -%>
        <% end %>
      </ul>
    </div> <!-- /.navbar-collapse -->
    <div class="row-fluid">
      <div class="span12">
        <% if me? %>
          <%= link_to 'Create Post', new_post_path %>
        <% end %>
        <h2>Latest Blog Entry</h2>
        <article>
          <h3><%= @posts.last.title %></h3>
          <p><%= truncate @posts.last.body, length: 1000 %></p>
          <p><%= link_to('read more', post_path(@posts.last)) %></p>
          <% if me? %>
            <%= link_to 'Delete Post', post_path(@posts.last), method: :delete %>
            <%= link_to 'Edit Post', edit_post_path(@posts.last) %>
          <% end %>
        </article>
        <hr>
        <h2>Other Entries</h2>
        <% @posts.each do |post| %>
        <article>
          <h3><%= post.title %></h3>
          <p><%= truncate post.body, length:300 %><%= link_to('read more', post_path(post)) %></p>
          <% if me? %>
            <%= link_to 'Delete Post', post_path(post), method: :delete %>
            <%= link_to 'Edit Post', edit_post_path(post) %>
          <% end %>
        </article>
        <% end %>
      </div><!-- /span12 -->
    </div><!-- /row-fluid -->
  </div><!-- /bl-content -->
  <span class="bl-icon bl-icon-close"></span>
</section>
