<section>
  <div class="bl-box">
    <h2>My deepest thoughts</h2>
  </div>
  <div class="bl-content">
    <div class="row-fluid">
      <div class="span12">
        <h2>Latest Blog Entry</h2>
        <article>
          <h3><%= @posts.last.title %></h3>
          <p><%= truncate @posts.last.body, length: 1000 %></p>
          <p><%= link_to('read more', post_path(@posts.last)) %></p>
        </article>
        <hr>
        <h2>Other Entries</h2>
        <% @posts.each do |post| %>
        <article>
          <h3><%= post.title %></h3>
          <p><%= truncate post.body, length:300 %><%= link_to('read more', post_path(post)) %></p>
        </article>
        <% end %>
      </div><!-- /span12 -->
    </div><!-- /row-fluid -->
  </div><!-- /bl-content -->
  <span class="bl-icon bl-icon-close"></span>
</section>
