<p id="notice"><%= notice %></p>

<h2><%= @project.name %></h2>
<div>
<p>Technologies used: <%= @project.technologies_used %>
</div>
<% @comments.each do |comment| %>
  <tr id="<%= dom_id(comment) %>">
    <td><%= comment.content %></td>
  </tr>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= render 'comments/form' %>
