<h1>Blog</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<% @posts.each do |post| %>
  <div class="post" id="<%= dom_id(post) %>">

    <h3><%= post.title %></h3>

    <div class="nav">

      <%= link_to 'View Post', post %>

      <% if policy(post).update? %>

      | <%= link_to 'Edit', edit_post_path(post) %> |

      <%= link_to 'Publish', post_path(post, post: { published: true }),
      method: :put %> |

      <% end %>

      <% if policy(post).destroy? %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

      <% end %>
    </div>
  </div>
<% end %>

<br />

<% if policy(Post).create? %>
<%= link_to 'New Post', new_post_path, class: "btn" %>
<% end %>



