<p id="notice"><%= notice %></p>


<p>
  <b>Author:</b>
  <%= @post.author.email %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<p>
  <b><font size="6"><u>COMMENTS</u></font></b>
</p>


<% @comments.each do |comment| %>
  <div class="comment" id="<%= dom_id(comment) %>">

    <h3><%= comment.content %></h3>

    <div class="nav">
      <% if policy(comment).approve? && comment.approved? == false %>
      <%= link_to 'Approve', post_comment_path(@commentable, comment: { approved: true }), method: :put %> |
      <% end %>

      <% if policy(comment).destroy? %>
      <%= link_to 'Destroy', post_comment_path(@commentable, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>

<p>
  <b><font size="6"><u>ADD A COMMENT</u></font></b>
</p>

<%= render 'comments/form' %>



