<p id="notice"><%= notice %></p>


<p>
  <b>Author:</b>
  <%= @post.author.email %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<p>
  <b><font size="6"><u>COMMENTS</u></font></b>
</p>


<% @comments.each do |comment| %>
  <tr id="<%= dom_id(comment) %>">
    <td><%= comment.content %></td>
  </tr>
<% end %>


<p>
  <b><font size="6"><u>ADD A COMMENT</u></font></b>
</p>

<%= render 'comments/form' %>



