<%= stylesheet_link_tag "application", :media => "all" %>
<div class="bl-main", id="blog_show">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if current_user.present? %>
        <%= current_user.name %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to image_tag("sign_in_twitter.png", alt:'twitter', id:"twitter"), omniauth_authorize_path(resource_name, provider) %>
        <% end -%>
      <% end %>
    </ul>
  </div> <!-- /.navbar-collapse -->
  <div class="row-fluid">
    <div class="span12">
      <article>
        <h2><center><%= @post.title %><center></h2>
        <center><p style="width: 50%;"><%= @post.body%></p></center>
      </article>
      <hr>
    </div><!-- /span12 -->
  </div><!-- /row-fluid -->
  <h3>COMMENTS</h3>
  <% @post.comments.each do |comment| %>
  <tr id="<%= dom_id(comment) %>">
    <h3><%= comment.content %></h3>
    <div class="nav">
      <% if policy(comment).destroy? %>
      <%= link_to 'Destroy', post_comment_path(@commentable, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>

  <% if current_user.present? %>
    <h3>ADD A COMMENT</h3>
    <%= render 'comments/form' %>
  <% else %>
    <p> You must be signed in to comment! <p>
  <% end %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to_function "Back", "history.back()" %>
</div>

